USE [FADB]
GO
/****** Object:  Table [dbo].[ClassingFA]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassingFA](
	[ClassingFA_ID] [int] NOT NULL,
	[Class_ID] [real] NOT NULL,
	[ChtName] [nvarchar](500) NOT NULL,
	[EngName] [nvarchar](500) NOT NULL,
	[UsageRangeDosageLimit] [nvarchar](3000) NULL,
	[UsageLimit] [nvarchar](3000) NULL,
	[ClassingFASpec] [nvarchar](3000) NULL,
 CONSTRAINT [PK_ClassingFA] PRIMARY KEY CLUSTERED 
(
	[ClassingFA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FA_Class]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FA_Class](
	[Class_ID] [real] NOT NULL,
	[ClassName] [nvarchar](20) NOT NULL,
	[ClassDiscript] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FA_Class] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FA61]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FA61](
	[ClassName] [nvarchar](100) NOT NULL,
	[ChtName] [nvarchar](500) NULL,
	[EngName] [nvarchar](500) NULL,
	[UsageRangeDosageLimit] [nvarchar](3000) NULL,
	[UsageLimit] [nvarchar](3000) NULL,
	[ClassingFASpec] [nvarchar](3000) NULL,
	[ClassDescript] [nvarchar](3000) NULL,
	[ClassingFA_ID] [nchar](4) NOT NULL,
	[Class_ID] [nchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteCFA]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteCFA](
	[UID] [nchar](30) NOT NULL,
	[ClassingFA_ID] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteCFA] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[ClassingFA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Members]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Members](
	[UID] [nchar](30) NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_Group_Members] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupFA]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupFA](
	[LFA_ID] [int] NOT NULL,
	[LFA_Lat] [real] NULL,
	[LFA_Long] [real] NULL,
	[LFA_DateTime] [datetime] NOT NULL,
	[UID] [nchar](30) NOT NULL,
	[ClassingFA_ID] [int] NOT NULL,
 CONSTRAINT [PK_LookupFA] PRIMARY KEY CLUSTERED 
(
	[LFA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PushNotification]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PushNotification](
	[PN_ID] [int] NOT NULL,
	[PN_Title] [nchar](20) NOT NULL,
	[PN_Content] [nchar](60) NOT NULL,
	[PN_DateTime] [datetime] NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_PushNotification] PRIMARY KEY CLUSTERED 
(
	[PN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizBank]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizBank](
	[Quiz_ID] [int] NOT NULL,
	[Qz_Solution] [varchar](4) NOT NULL,
	[Qz_Content] [nvarchar](500) NOT NULL,
	[Qz_Item1] [nvarchar](500) NOT NULL,
	[Qz_Item2] [nvarchar](500) NOT NULL,
	[Qz_Item3] [nvarchar](500) NOT NULL,
	[Qz_Item4] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_QuizBank] PRIMARY KEY CLUSTERED 
(
	[Quiz_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QzR_No]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QzR_No](
	[QzR_No] [int] NOT NULL,
	[QzR_DateTime] [datetime] NOT NULL,
	[QzR_Result] [char](1) NOT NULL,
	[Quiz_ID] [int] NOT NULL,
	[UID] [nchar](30) NOT NULL,
 CONSTRAINT [PK_QzR_No] PRIMARY KEY CLUSTERED 
(
	[QzR_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Disceases]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Disceases](
	[Disceases] [nvarchar](20) NOT NULL,
	[UID] [nchar](30) NOT NULL,
 CONSTRAINT [PK_User_Disceases] PRIMARY KEY CLUSTERED 
(
	[Disceases] ASC,
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Group]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Group](
	[GroupID] [int] NOT NULL,
	[GroupName] [nchar](16) NOT NULL,
 CONSTRAINT [PK_User_Group] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UID] [nchar](28) NOT NULL,
	[AccountName] [nvarchar](50) NOT NULL,
	[Auth_Way] [varchar](20) NOT NULL,
	[Token] [nvarchar](200) NULL,
	[Gender] [char](1) NULL,
	[Weight] [int] NULL,
	[Birthday] [date] NULL,
	[JoinDate] [datetime] NOT NULL,
	[AdminGroup] [char](1) NOT NULL,
	[Enabled] [char](1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ClassingFA] ([ClassingFA_ID], [Class_ID], [ChtName], [EngName], [UsageRangeDosageLimit], [UsageLimit], [ClassingFASpec]) VALUES (1, 3, N'第三丁基氫醌', N'Tertiary ButylHydroquinone', N'本品可使用於油脂、乳酪及奶油；用量為0.20g/kg以下。', NULL, N'https://consumer.fda.gov.tw/Files/FoodAdditives/40\03013第三丁基氫醌Tertiary-Butyl Hydroquinone.doc')
INSERT [dbo].[ClassingFA] ([ClassingFA_ID], [Class_ID], [ChtName], [EngName], [UsageRangeDosageLimit], [UsageLimit], [ClassingFASpec]) VALUES (2, 7, N'硬脂酸鈉', N'Sodium Stearate', N'本品可於各類食品中視實際需要適量使用。', N'限於食品製造或加工必須時使用。', NULL)
INSERT [dbo].[ClassingFA] ([ClassingFA_ID], [Class_ID], [ChtName], [EngName], [UsageRangeDosageLimit], [UsageLimit], [ClassingFASpec]) VALUES (3, 10, N'乙酸乙酯', N'Ethyl Acetate', N'本品可於各類食品中視實際需要適量使用', N'限用為香料。', N'https://consumer.fda.gov.tw/Files/FoodAdditives/514\10001乙酸乙脂Ethyl acetate.doc')
GO
INSERT [dbo].[FA_Class] ([Class_ID], [ClassName], [ClassDiscript]) VALUES (1, N'防腐劑', N'1. 罐頭一律禁止使用防腐劑，但因原料加工或製造技術關係，必須加入防腐劑者，應事先申請中央衛生主管機關核准後，始得使用。 2. 同一食品依表列使用範圍規定混合使用防腐劑時，每一種防腐劑之使用量除以其用量標準所得之數值（即使用量／用量標準）總和不得大於1。 3. 本表所稱「脫水水果」，包括以糖、鹽或其他調味料醃漬、脫水、乾燥或熬煮等加工方法製成之水果加工品。 本表所稱之食品名稱定義： 1.「煮熟豆」係指經煮熟調味之豆類，包括豆餡。 2.「海藻醬類」係指以海藻或海苔為原料製成供佐餐用之醬菜。 3.「濃糖果漿」係指由天然果汁或乾果中抽取50％以上，添加入濃厚糖 漿中,其總糖度應在50°Brix 以上，可供稀釋飲用者。 4.「含果汁之碳酸飲料」係指含5％以上天然果汁之碳酸飲料。 5.「罐頭食品」係指在製造過程中，經過脫氣、密封、殺菌等步驟而能防 止外界微生物之再污染且可達到保存目的之食品。 6. 本表為正面表列，非表列之食品品項，不得使用該食品添加物。')
INSERT [dbo].[FA_Class] ([Class_ID], [ClassName], [ClassDiscript]) VALUES (2, N'殺菌劑', N'本表為正面表列，非表列之食品品項，不得使用該食品添加物。')
INSERT [dbo].[FA_Class] ([Class_ID], [ClassName], [ClassDiscript]) VALUES (3, N'抗氧化劑', N'1.抗氧化劑混合使用時，每一種抗氧化劑之使用量除以其用量標準所得之數值（即使用量／用量標準）總和應不得大於1 。 2.本表為正面表列，非表列之食品品項，不得使用該食品添加物。')
INSERT [dbo].[FA61] ([ClassName], [ChtName], [EngName], [UsageRangeDosageLimit], [UsageLimit], [ClassingFASpec], [ClassDescript], [ClassingFA_ID], [Class_ID]) VALUES (N'(三) 抗氧化劑', N'第三丁基氫醌', N'Tertiary ButylHydroquinone', N'本品可使用於油脂、乳酪及奶油；用量為0.20g/kg以下。', NULL, N'https://consumer.fda.gov.tw/Files/FoodAdditives/40\03013第三丁基氫醌Tertiary-Butyl Hydroquinone.doc', N'1.抗氧化劑混合使用時，每一種抗氧化劑之使用量除以其用量標準所得之數值（即使用量／用量標準）總和應不得大於1 。 2.本表為正面表列，非表列之食品品項，不得使用該食品添加物。', N'1   ', NULL)
INSERT [dbo].[FA61] ([ClassName], [ChtName], [EngName], [UsageRangeDosageLimit], [UsageLimit], [ClassingFASpec], [ClassDescript], [ClassingFA_ID], [Class_ID]) VALUES (N'(七) 品質改良用、釀造用及食品製造用劑', N'硬脂酸鈉', N'Sodium Stearate', N'本品可於各類食品中視實際需要適量使用。', N'限於食品製造或加工必須時使用。', NULL, N'本表為正面表列，非表列之食品品項，不得使用該食品添加物。', N'2   ', NULL)
GO
INSERT [dbo].[FavoriteCFA] ([UID], [ClassingFA_ID]) VALUES (N'1168653987122802179521111111  ', 12)
INSERT [dbo].[FavoriteCFA] ([UID], [ClassingFA_ID]) VALUES (N'1168653987122802179521111111  ', 36)
INSERT [dbo].[FavoriteCFA] ([UID], [ClassingFA_ID]) VALUES (N'1168653987122802179521111111  ', 44)
INSERT [dbo].[Group_Members] ([UID], [GroupID]) VALUES (N'1168653987122802179521111111  ', 1)
INSERT [dbo].[Group_Members] ([UID], [GroupID]) VALUES (N'1168653987122802179521111111  ', 2)
INSERT [dbo].[Group_Members] ([UID], [GroupID]) VALUES (N'1174103987122802125721111111  ', 1)
INSERT [dbo].[LookupFA] ([LFA_ID], [LFA_Lat], [LFA_Long], [LFA_DateTime], [UID], [ClassingFA_ID]) VALUES (1, 22.59, 120.39, CAST(N'2017-11-15T12:00:00.000' AS DateTime), N'1168653987122802179521111111  ', 121)
INSERT [dbo].[LookupFA] ([LFA_ID], [LFA_Lat], [LFA_Long], [LFA_DateTime], [UID], [ClassingFA_ID]) VALUES (2, 22.6, 120.4, CAST(N'2017-11-17T12:05:00.000' AS DateTime), N'1168653987122802179521111111  ', 85)
INSERT [dbo].[LookupFA] ([LFA_ID], [LFA_Lat], [LFA_Long], [LFA_DateTime], [UID], [ClassingFA_ID]) VALUES (3, 22.59, 120.34, CAST(N'2017-11-21T13:00:00.000' AS DateTime), N'1174103987122802125721111111  ', 12)
INSERT [dbo].[PushNotification] ([PN_ID], [PN_Title], [PN_Content], [PN_DateTime], [GroupID]) VALUES (1, N'香腸不能配什麼水果?          ', N'香蕉、蕃茄都不行呦。                                                  ', CAST(N'2017-12-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PushNotification] ([PN_ID], [PN_Title], [PN_Content], [PN_DateTime], [GroupID]) VALUES (2, N'有批牛肉很便宜             ', N'如果需要的話，就打這電話給我。                                             ', CAST(N'2017-12-07T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PushNotification] ([PN_ID], [PN_Title], [PN_Content], [PN_DateTime], [GroupID]) VALUES (3, N'純天然真的比較好嗎？          ', N'地球上很多毒物也是天然的。                                               ', CAST(N'2017-12-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[QuizBank] ([Quiz_ID], [Qz_Solution], [Qz_Content], [Qz_Item1], [Qz_Item2], [Qz_Item3], [Qz_Item4]) VALUES (1, N'2', N'醃漬酸菜所利用的微生物是', N'醋酸菌', N'乳酸菌', N'酵母', N'黴菌')
INSERT [dbo].[QuizBank] ([Quiz_ID], [Qz_Solution], [Qz_Content], [Qz_Item1], [Qz_Item2], [Qz_Item3], [Qz_Item4]) VALUES (2, N'3', N'罐頭捲封部位是由幾層馬口鐵皮所構成？', N'三層', N'四層', N'五層', N'六層')
INSERT [dbo].[QuizBank] ([Quiz_ID], [Qz_Solution], [Qz_Content], [Qz_Item1], [Qz_Item2], [Qz_Item3], [Qz_Item4]) VALUES (3, N'3', N'卵磷脂是屬於', N'漂白劑', N'發色劑', N'乳化劑', N'防腐劑')
GO
INSERT [dbo].[QzR_No] ([QzR_No], [QzR_DateTime], [QzR_Result], [Quiz_ID], [UID]) VALUES (1, CAST(N'2017-12-03T10:30:00.000' AS DateTime), N'R', 1, N'1168653987122802179521111111  ')
INSERT [dbo].[QzR_No] ([QzR_No], [QzR_DateTime], [QzR_Result], [Quiz_ID], [UID]) VALUES (2, CAST(N'2017-12-03T10:31:00.000' AS DateTime), N'R', 2, N'1168653987122802179521111111  ')
INSERT [dbo].[QzR_No] ([QzR_No], [QzR_DateTime], [QzR_Result], [Quiz_ID], [UID]) VALUES (3, CAST(N'2017-12-03T10:32:00.000' AS DateTime), N'R', 3, N'1168653987122802179521111111  ')
INSERT [dbo].[User_Disceases] ([Disceases], [UID]) VALUES (N'苯酮尿', N'1174103987122802125721111111  ')
INSERT [dbo].[User_Disceases] ([Disceases], [UID]) VALUES (N'苯酮尿', N'1174103987122805656561111111  ')
INSERT [dbo].[User_Disceases] ([Disceases], [UID]) VALUES (N'苯酮尿', N'1178658687122802179521111111  ')
INSERT [dbo].[User_Group] ([GroupID], [GroupName]) VALUES (1, N'whole           ')
INSERT [dbo].[User_Group] ([GroupID], [GroupName]) VALUES (2, N'youth           ')
INSERT [dbo].[User_Group] ([GroupID], [GroupName]) VALUES (3, N'elders          ')
INSERT [dbo].[Users] ([UID], [AccountName], [Auth_Way], [Token], [Gender], [Weight], [Birthday], [JoinDate], [AdminGroup], [Enabled]) VALUES (N'1168653987122802179521111111', N'howfun@pchome.com.tw', N'Email', NULL, N'M', NULL, CAST(N'2001-05-17' AS Date), CAST(N'2017-12-02T00:00:00.000' AS DateTime), N'N', N'Y')
INSERT [dbo].[Users] ([UID], [AccountName], [Auth_Way], [Token], [Gender], [Weight], [Birthday], [JoinDate], [AdminGroup], [Enabled]) VALUES (N'1174103987122802125721111111', N'orangeroad@gmail.com', N'google.com', NULL, N'M', NULL, CAST(N'1966-05-21' AS Date), CAST(N'2017-10-09T00:00:00.000' AS DateTime), N'N', N'Y')
INSERT [dbo].[Users] ([UID], [AccountName], [Auth_Way], [Token], [Gender], [Weight], [Birthday], [JoinDate], [AdminGroup], [Enabled]) VALUES (N'1174103987122802179521111111', N'naruto@gmail', N'google.com', NULL, N'M', NULL, CAST(N'1988-12-22' AS Date), CAST(N'2017-11-12T00:00:00.000' AS DateTime), N'N', N'Y')
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_AdminGroup]  DEFAULT ('N') FOR [AdminGroup]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Enabled]  DEFAULT ('Y') FOR [Enabled]
GO
/****** Object:  StoredProcedure [dbo].[table_query_FA]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[table_query_FA]
	@ChName nvarchar(500),
	@EngName nvarchar(500),
	@ClassName nvarchar(500)
	--@table_class nvarchar(500)
	--@ClassName nvarchar(500),
	--@ChName nvarchar(500),
	--@EngName nvarchar(500),
	--@UsageRangeDosageLimit nvarchar(500),
	--@UsageLimit nvarchar(500),
	--@ClassingFASpec nvarchar(500),
	--@ClassDescript nvarchar(500)
as
begin
	--SELECT ChName,EngName FROM FA61 WHERE (ClassName=@ClassName AND ChName=@ChName  AND EngName=@EngName  AND UsageRangeDosageLimit=@UsageRangeDosageLimit
	-- AND  UsageLimit=@UsageLimit  AND ClassingFASpec=@ClassingFASpec  AND ClassDescript=@ClassDescript)

	--select ChName,EngName from FA61 where ClassName = @ClassName

	SELECT ChName,EngName FROM FA61 WHERE ClassName=@ClassName AND ChName=@ChName  AND EngName=@EngName 
end

--select 中文品名,英文品名,使用食品範圍及限量,使用限制,規格,類別說明 from 食品添加物資料集61 where 類別='(三) 抗氧化劑'
--select distinct 類別 from FA61 order by 類別  asc
--select 類別 from FA61
GO
/****** Object:  StoredProcedure [dbo].[新增原始食品添加物資料集]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- db_id 資料庫名稱
--序號 char(5) primary key
CREATE proc [dbo].[新增原始食品添加物資料集]
as
begin
	
	if object_id('FA61', 'U') is null
		begin
			print '資料表不存在'
			
			--SET IDENTITY_INSERT  FA61 On
			create table FA61 (類別 nvarchar(100) null,中文品名 nvarchar(500) null,
			英文品名 nvarchar(500) null,使用食品範圍及限量 nvarchar(3000),使用限制 nvarchar(3000),
			規格 nvarchar(3000),類別說明  nvarchar(3000),id_num bigint IDENTITY(1,1))
			--SET IDENTITY_INSERT  FA61 Off
		end
	else
		begin
			print '資料表存在'
			DROP TABLE FA61

			create table FA61 (類別 nvarchar(100) null,中文品名 nvarchar(500) null,
			英文品名 nvarchar(500) null,使用食品範圍及限量 nvarchar(3000),使用限制 nvarchar(3000),
			規格 nvarchar(3000),類別說明  nvarchar(3000),id_num bigint IDENTITY(1,1))

			--declare	@c_class varchar(300),
			--		@c_C_name varchar(300),
			--		@c_E_name varchar(300),
			--		@c_range varchar(300),
			--		@c_limit varchar(300),
			--		@c_ulimit varchar(300),
			--		@c_classdis varchar(300),
			--		--@c_id_num bigint,
			--		@i int=1
				
			--	INSERT into  dbo.FA61(dbo.類別,dbo.中文品名,dbo.英文品名,dbo.使用食品範圍及限量,dbo.使用限制, dbo.規格, dbo.類別說明)
			--	VALUES('a','a','a','a','a','a','a')
				--VALUES(@c_class,@c_C_name,@c_E_name,@c_range,@c_limit,@c_ulimit,@c_classdis)
				
		end
end
--exec 新增原始食品添加物資料集
GO
/****** Object:  StoredProcedure [dbo].[新增題庫]    Script Date: 2017/12/15 上午 02:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[新增題庫]
as
begin
	
	if object_id('QuizBank', 'U') is null
		begin
			print '資料表不存在'
			
			--SET IDENTITY_INSERT  FA61 Ona
			create table QuizBank (Qz_Title nvarchar(500) not null,Qz_Item1 nvarchar(500) null,Qz_Item2 nvarchar(500) null,
			Qz_Item3 nvarchar(500) null,Qz_Item4 nvarchar(500) null,
			Qz_Solution varchar(4) not null,Qz_Desription  nvarchar(500) null,Qz_Content int null,Quiz_ID bigint IDENTITY(1,1) not null)
			--SET IDENTITY_INSERT  FA61 Off
		end
	else
		begin
			print '資料表存在'
			DROP TABLE QuizBank

			create table QuizBank (Qz_Title nvarchar(500) not null,Qz_Item1 nvarchar(500) null,Qz_Item2 nvarchar(500) null,
			Qz_Item3 nvarchar(500) null,Qz_Item4 nvarchar(500) null,
			Qz_Solution varchar(4) not null,Qz_Desription  nvarchar(500) null,Qz_Content int null,Quiz_ID bigint IDENTITY(1,1) not null)

			--declare	@c_class varchar(300),
			--		@c_C_name varchar(300),
			--		@c_E_name varchar(300),
			--		@c_range varchar(300),
			--		@c_limit varchar(300),
			--		@c_ulimit varchar(300),
			--		@c_classdis varchar(300),
			--		--@c_id_num bigint,
			--		@i int=1
				
			--	INSERT into  dbo.FA61(dbo.類別,dbo.中文品名,dbo.英文品名,dbo.使用食品範圍及限量,dbo.使用限制, dbo.規格, dbo.類別說明)
			--	VALUES('a','a','a','a','a','a','a')
				--VALUES(@c_class,@c_C_name,@c_E_name,@c_range,@c_limit,@c_ulimit,@c_classdis)
				
		end
end
--exec 新增原始食品添加物資料集
GO
